.item {
  width: 100%;

  display: grid;
  grid-template-columns: 25px 70px 1fr 94px 160px max-content;
  align-items: center;
}

.index,
.name {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.name {
  padding-left: 26px;
}

.price {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
