.form {
  width: 100%;

  display: grid;
  grid-template-columns: 360px 246px;
  column-gap: 22px;
  row-gap: 9px;
}

.apiError {
  text-align: left;
  color: var(--red);
  font-size: 14px;
  font-weight: 500;
}
