.product {
  display: flex;
  flex-direction: column;
}

.image {
  width: 220px;
  height: 173px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  margin-bottom: 4px;
  font-size: 18px;
}

.description {
  margin-bottom: 4px;
  font-size: 13px;
}

.price {
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 400;
}

.buttons {
  margin-top: auto;
}

.button {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(255, 196, 130);
  border-radius: 2px;

  font-size: 12px;
  letter-spacing: 0.02rem;
}

button:not(:last-child) {
  margin-bottom: 10px;
}
