.container {
  max-width: 600px;

  display: grid;
  grid-template-columns: 225px 1fr;
  align-items: start;
  column-gap: 5px;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;

  direction: rtl;
}

.thumbnail,
.mainImage {
  cursor: pointer;
}
