.container {
  max-width: 535px;

  display: grid;
  grid-template-columns: 165px 1fr;
  align-items: start;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;

  direction: rtl;
}
