.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 16px;
  row-gap: 13px;
}

.city {
  padding: 10px 12px 10px 16px;
  border: 1px solid var(--greyBorder);
  border-radius: 5px;

  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;

  display: flex;
  align-items: center;
  column-gap: 18px;
}
