.container {
  padding-top: 50px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 40px;
}

.title {
  margin-bottom: 20px;

  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.form {
  flex: 0 1 680px;

  display: flex;
  flex-direction: column;
}

.total {
  flex: 0 1 335px;
}
