.container {
  margin-bottom: 24px;

  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
}

.filters {
  height: 40px;

  display: grid;
  grid-template-columns: repeat(3, 160px);
  column-gap: 40px;
}
