.container {
  height: 40px;
  margin-bottom: 24px;

  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr 300px;
}

.filters {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 160px);
  column-gap: 40px;
}
