.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 35px;
}

.row {
  display: grid;
  grid-template-columns: 156px max-content max-content;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.email,
.username {
  font-weight: 400;
}

.circle {
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgb(48, 58, 53);
  border-radius: 50%;
}

.password {
  display: inline-flex;
  column-gap: 6px;
}

.button {
  margin-left: 50px;

  display: inline-flex;
  align-items: center;
  column-gap: 5px;

  color: rgb(139, 139, 139);
  font-size: 13px;
  font-weight: 400;
}

.addressBtn {
  background-color: rgb(255, 255, 255);

  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02rem;
}
