.container {
  width: 300px;
  height: 40px;

  border: 1px solid rgb(139, 139, 139);
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
}

.input {
  width: 90%;
  height: 100%;
  padding-left: 12px;
  padding-bottom: 2px;
  border: none;

  font-size: 14px;
}

input::placeholder {
  color: rgb(48, 58, 53);
  font-size: 14px;
  font-weight: 400;
}

.icon {
  height: 0;
  transform: translate(-10px, 10px);
  pointer-events: none;
}
