.container {
  margin-top: auto;
  padding-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.arrowBtn {
  padding: 5px;

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
