.header {
  padding-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.span {
  color: #79827e;
}

.actions {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 500;

  display: flex;
  column-gap: 25px;
}

.button {
  background: transparent;
}
