.form {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.button {
  margin-top: 8px;
  padding: 11px 61px;

  background-color: var(--green);
  border-radius: 5px;

  color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03rem;

  align-self: flex-start;
}
