.container {
  padding-top: 33px;

  display: flex;
  flex-direction: column;
}

.status {
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 400;

  display: inline-flex;
  align-items: center;
  column-gap: 6px;
}

.title {
  margin-bottom: 10px;

  font-family: 'Barlow', sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: rgb(140, 171, 155);
  border-radius: 50%;
}

.rating {
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 400;

  display: flex;
  column-gap: 8px;
  align-items: center;
}

.stars {
  display: flex;
  flex-direction: column;

  transform: translateY(6px);
}

.price {
  margin-bottom: 25px;

  font-size: 17px;
  font-weight: 400;
}

.votes {
  font-size: 13px;
}

.button {
  padding: 12px 90px;
  background-color: rgb(140, 171, 155);
  border-radius: 5px;
  color: rgb(255, 255, 255);

  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.03rem;
}
