.container {
  padding-top: 19px;
  font-family: 'Roboto', sans-serif;
}

.link {
  margin-bottom: 55px;

  text-decoration: underline;
  font-size: 13px;
  font-weight: 400;

  display: block;
}

.content {
  margin-bottom: 30px;

  display: flex;
  column-gap: 70px;
}

.info {
  margin-bottom: 30px;
}
