.form {
  max-width: 730px;

  display: flex;
  flex-direction: column;
  row-gap: 9px;

  font-family: 'Roboto', sans-serif;
}

.row {
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: 30px;
  row-gap: 9px;
  align-items: start;
}

.bottom {
  max-width: 550px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 9px;
}

.button {
  width: 260px;
  margin-top: 14px;
  padding: 12px 0px;
  background-color: var(--green);
  border-radius: 5px;

  color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03rem;

  align-self: flex-start;
}

.apiError {
  text-align: left;
  color: var(--red);
  font-size: 14px;
  font-weight: 500;
}
