.title {
  margin-bottom: 42px;

  font-family: 'Barlow', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.button {
  margin-top: 38px;
  padding: 11px 42px 10px 42px;

  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);

  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.03rem;
}
