.container {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.label {
  height: 38px;
  border: 1px solid var(--greyBorder);
  border-radius: 5px;

  font-size: 13px;
  letter-spacing: 0.01rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;
}

.previews {
  max-height: 450px;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, 90px);
  align-items: center;
  column-gap: 5px;
  row-gap: 10px;
}

.error {
  color: var(--red);
  font-size: 11px;
  font-weight: 500;

  white-space: nowrap;

  position: absolute;
  top: -20px;
  left: 0px;
}
