.container {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.label {
  width: 100%;
  height: 38px;
  border: 1px solid var(--greyBorder);
  border-radius: 5px;

  font-size: 13px;
  letter-spacing: 0.01rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.preview,
.previews {
  position: absolute;
  top: 68px;
  left: 0;
}

.previews {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  column-gap: 5px;
  row-gap: 10px;
}
