.content {
  max-width: 650px;
  margin: 8vh auto;
  padding: 35px 44px 45px 44px;

  background-color: white;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;

  position: relative;
}

.title {
  margin-bottom: 14px;

  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.button {
  height: 20px;
  width: 20px;

  position: absolute;
  top: 20px;
  right: 20px;
}
