.container {
  width: fit-content;
  margin: 20vh auto;
  padding: 36px 42px 32px 42px;

  background-color: var(--white);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.buttonAgree,
.buttonDisagree {
  width: 100px;
  padding: 10px 0;
  border-radius: 5px;
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.buttonAgree {
  background-color: var(--green);
}

.buttonDisagree {
  background-color: var(--red);
}
