.item {
  width: 100%;
  min-height: 70px;

  display: grid;
  grid-template-columns: 70px 1fr 100px 174px 76px;
  align-items: center;
}

.name {
  padding-left: 28px;

  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.price {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
