.container {
  max-width: 700px;
}

.header {
  margin-bottom: 13px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  font-family: 'Roboto', sans-serif;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.title {
  font-family: 'Barlow', sans-serif;
  font-size: 21px;
  font-weight: 600;
}

.total {
  font-size: 14px;
  font-weight: 400;
}

.button {
  padding: 5px;
  background-color: rgb(255, 255, 255);

  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
